B2_BUCKET_NAME=your-bucket-name
B2_KEY_ID=your-key-id
B2_APPLICATION_KEY=your-application-key
B2_ENDPOINT_URL=https://s3.us-east-005.backblazeb2.com
DATABASE_URL=postgresql://neondb_owner:npg_kGxBWa1uv8hp@ep-weathered-paper-a185lvqm-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require   
SECRET_KEY=QWERTYUIOPPOIUYTREWQPOIUYTREWQPO
