B2_BUCKET_NAME=your-bucket-name
B2_KEY_ID=your-key-id
B2_APPLICATION_KEY=your-application-key
B2_ENDPOINT_URL=https://s3.us-east-005.backblazeb2.com
DATABASE_URL=postgresql:   
SECRET_KEY=QWERTYUIOPPOI
